body {
  background-color: #f8f9fa;
}

table th, table td {
  vertical-align: middle;
}

input {
  margin-bottom: 5px;
}

.toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1080;
}


aside {
  width: 220px;
  background: #2f3640;
  color: white;
  padding: 20px;
}

aside button {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  background: #353b48;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

aside button:hover {
  background: #40739e;
}

main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Estilos para a nova tela de login */
.login-page {
    background-color: #f8f9fa !important; /* Fundo claro para a página */
}

.login-container {
    height: 100vh;
    padding: 0;
}

.login-form-wrapper {
    max-width: 450px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cadastro-form-wrapper {
    max-width: 350px;
    width: 100%;
}

/* Ajuste para o container de login e cadastro */
.login-container .row {
    height: 100%;
}

/* Estilos para o formulário de cadastro na lateral */
.bg-primary {
    background-color: #007bff !important; /* Cor primária do Bootstrap */
}

.text-primary {
    color: #007bff !important;
}

.btn-primary {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-light {
    color: #007bff !important;
}

